@using Transport.Services;
@using Transport.Services.DTOs;
@inject ITransportService TransportService

@{
    ViewData["Title"] = "asFALT Transport";
    var lines = new List<string> { "Б1", "Б2", "Б11", "Б12", "11", "12", "15", "Н" };
}

<h2>asFalt Transport</h2>
<div style="margin-top:15px; display:flex; flex-wrap:wrap; gap:10px;">
    @foreach (var line in lines)
    {
        <a asp-controller="Transport"
               asp-action="Stops"
               asp-route-line="@line"
               class="line-button">
            @line
        </a>
    }
</div>
<style>
    .line-button {
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        background-color: #eee;
        cursor: pointer;
        text-decoration: none;
        color: black;
        display: inline-block;
    }

        .line-button:hover {
            background-color: #ddd;
        }

        .line-button:active {
            background-color: #ccc;
        }
</style>