@using Transport.Services;
@using Transport.Services.DTOs;
@inject ITransportService TransportService

@{
    ViewData["Title"] = "asFALT Transport";
    var lines = new List<string> { "Б1", "Б2", "Б11", "Б12", "11", "12", "15", "Н" };
}

<h2>asFalt Transport</h2>

<form method="post">
    <label>Изберете автобусна линия:</label>

    <div style="margin-top:15px; display:flex; flex-wrap:wrap; gap:10px;">
        @foreach (var line in lines)
        {
            <button type="submit"
                    name="line"
                    value="@line"
                    style="padding:10px 20px;
                border:none;
                border-radius:8px;
                background-color:#eee;
                cursor:pointer;">
                @line
            </button>
        }
    </div>
</form>